{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <div class="info">
        </div>
    </div>
    <div class="form">
        <h2 style="font-size: 24px;">DieAndRetry</h2>
        <div class="thumbnail"><img src="http://i.imgur.com/ZCQGy2u.png"/></div>
        <form class="login-form" style="margin-bottom: 100px;" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <input class="champ" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="username"/>

            <input class="champ" type="password" id="password" name="_password" required="required" placeholder="password"/>

            <label for="remember_me">Se souvenir de moi</label>
            <input style="margin-bottom: 15px;" type="checkbox" id="remember_me" name="_remember_me" value="on" />

            <input class="bouton" type="submit" id="_submit" name="_submit" value="Login" />
            <p class="message">Not registered? <a href="{{ path('fos_user_registration_register') }}">Create an account</a></p>
        </form>

        <span>Made with <i class="fa fa-heart"></i> by Formora</span>
    </div>
{% endblock fos_user_content %}
